.banner {
    height: 644px;
    padding-top: 177px;
    background: url('../image/partner/banner-bg.png') center no-repeat;
}

.banner img {
    margin-left: 200px;
}


.ad {
    padding-top: 40px;
}

.tab {
    width: 340px;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    background: rgba(225, 213, 250, 1);
    box-shadow: 0px 9px 16px 0px rgba(159, 116, 248, 0.38);
    border-radius: 22px;
    font-size: 16px;
}

.tab span {
    display: inline-block;
    width: 160px;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
}

.tab .selected {
    width: 173px;
    height: 44px;
    background: rgba(117, 61, 232, 1);
    border-radius: 22px;
    color: #fff;
}

.ad .content {
    height: 980px;
    margin-top: 44px;
    /* padding-top: 174px; */
    background: url('../image/advantage/ad-bg.png') center no-repeat;
}

.ad .content>div {
    position: relative;
    height: 340px;
}

.ad .content>.row-2 {
    position: relative;
    height: 320px;
}

.ad .content .img-wrap {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 200px;
    padding-top: 24px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    color: #333;
}

.ad .content .img-wrap p {
    margin-top: 30px;
    font-size: 24px;
    font-family: PingFang SC;
}

.ad .content .img-wrap:hover {
    background: rgba(133, 74, 255, 1);
    box-shadow: 0px 4px 27px 0px rgba(117, 61, 232, 0.43);
    color: #fff;
    /* animation: none;
    -webkit-animation: none; */
}

.ad .content .row-1 .img-wrap:nth-of-type(1) {
    left: 340px;
    top: 100px;
    /* animation: updown1 3s infinite alternate;
    -webkit-animation: updown1 3s infinite alternate; */
}

.ad .content .row-1 .img-wrap:nth-of-type(2) {
    left: 550px;
    top: 130px;
     /* animation: updown2 3s infinite alternate;
    -webkit-animation: updown2 3s infinite alternate; */
}

.ad .content .row-1 .img-wrap:nth-of-type(3) {
    left: 900px;
    top: 100px;
    /* animation: updown3 3s infinite alternate;
    -webkit-animation: updown3 3s infinite alternate; */
}

.ad .content .row-2 .img-wrap:nth-of-type(1) {
    left: 200px;
    top: 10px;
    /* animation: updown1 3s infinite alternate;
    -webkit-animation: updown1 3s infinite alternate; */
}

.ad .content .row-2 .img-wrap:nth-of-type(2) {
    left: 450px;
    top: 30px;
    /* animation: updown2 3s infinite alternate;
    -webkit-animation: updown2 3s infinite alternate; */
}

.ad .content .row-2 .img-wrap:nth-of-type(3) {
    left: 800px;
    top: 30px;
    /* animation: updown3 3s infinite alternate;
    -webkit-animation: updown3 3s infinite alternate; */
}

.ad .content .row-2 .img-wrap:nth-of-type(4) {
    left: 1000px;
    top: 20px;
    /* animation: updown3 3s infinite alternate;
    -webkit-animation: updown3 3s infinite alternate; */
}

.ad .content .row-3 .img-wrap:nth-of-type(1) {
    left: 220px;
    top: 10px;
    /* animation: updown1 3s infinite alternate;
    -webkit-animation: updown1 3s infinite alternate; */
}

.ad .content .row-3 .img-wrap:nth-of-type(2) {
    left: 450px;
    top: 30px;
    /* animation: updown2 3s infinite alternate;
    -webkit-animation: updown2 3s infinite alternate; */
}

.ad .content .row-3 .img-wrap:nth-of-type(3) {
    left: 800px;
    top: -40px;
    /* animation: updown3 3s infinite alternate;
    -webkit-animation: updown3 3s infinite alternate; */
}

.ad .content .row-3 .img-wrap:nth-of-type(4) {
    left: 1100px;
    top: -40px;
    /* animation: updown3 3s infinite alternate;
    -webkit-animation: updown3 3s infinite alternate; */
}



@keyframes updown1 {
    from {
        top: 10px;
    }

    to {
        top: 30px;
    }
}

@-webkit-keyframes updown1 {
    from {
        top: 30px;
    }

    to {
        top: 50px;
    }
}

@keyframes updown2 {
    from {
        top: 30px;
    }

    to {
        top: 10px;
    }
}

@-webkit-keyframes updown2 {
    from {
        top: 0px;
    }

    to {
        top: 20px;
    }
}

@keyframes updown3 {
    from {
        top: 0px;
    }

    to {
        top: 20px;
    }
}

@-webkit-keyframes updown3 {
    from {
        top: 0px;
    }

    to {
        top: 20px;
    }
}

.partner>div {
    /* height: 1000px; */
    color: #333;

}

/* .partner >div:nth-of-type(odd) {
    background-color: antiquewhite;
}
.partner >div:nth-of-type(even) {
    background-color: gray;
} */
.partner h4 {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
}

.partner p {
    font-size: 16px;
    line-height: 2;
}

.partner .row-1 .right {
    width: 223px;
    margin-top: 212px;
    margin-right: 100px;
}

.partner .row-1 .left>div {
    margin-left: 180px;
    margin-top: -100px;
}

.partner .row-2 .left {
    width: 436px;
    margin-top: 110px;
    margin-left: 180px;
}

.partner .row-2 .right {
    margin-right: -160px;
}

.partner .row-3 .right {
    width: 368px;
    margin-top: 80px;
}

.partner .b {
    width: 1300px;
    margin: 0 auto;
    height: 1200px;
    background: url('../image/partner/partner-row-4.png') bottom right no-repeat;
}

.partner .row-4 .left {
    width: 385px;
    padding-top: 250px;
    margin-bottom: 210px;
    margin-left: 100px;
}

.partner .row-5 {
    margin-top: 100px;
}

.partner .row-5 .right {
    float: left;
    margin-left: 60px;
    padding-top: 40px;
    width: 490px;
    font-size: 12px;
}

.partner .row-5 .right p {
    font-size: 12px;
}

.partner .row-5 {}

.partner .left {
    float: left;
}

.partner .right {
    float: right;
}

.partner dl dt {
    font-weight: bold;
    line-height: 2;
}

.partner dl dd {
    font-size: 12px;
    line-height: 1.5;
}

.w540 {
    width: 540px;
}

.w418 {
    width: 418px;
}

.w650 {
    width: 650px;
}

.w550 {
    width: 550px
}

.w730 {
    width: 730px;
}

.mt800 {
    margin-top: 800px;
}

.mt346 {
    margin-top: 346px;
}

.mt320 {
    margin-top: 320px;
}

.mt150 {
    margin-top: 150px;
}

.mt350 {
    margin-top: 350px
}

.mt120 {
    margin-top: 120px;
}