.natrue {
    max-width: 1920px;
    margin: 0 auto;
}

.headline {
    padding: 80px 0 30px 0;
    text-align: center;
}

.headline h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.headline span {
    font-size: 16px;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
}
.na-back {
    height: 800px;
    position: relative;
    background: url('../image/nature/natrue_backImg.jpg') center no-repeat;
}


.na-back img {
    width: 500px;
    position: absolute;
    right: 120px;
    top: 330px;
}

.tab-tilte {
 margin-left: 106px;
}
.tab-tilte li {
    display: inline-block;
    height: 100px;
    width: 140px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}

.tab-tilte .item::before {
    content: '';
    display: inline-block;
    width: 140px;
    height: 100px;
    transform: skewX(-30deg);
    background-color: #F9EBFE
}

.tab-tilte li span {
    position: absolute;
    z-index: 2;
    top: 36px;
    left: 50px;
    font-size: 24px;
    color: #666666;
    line-height: 1
}

.tab-tilte .item-1 {
    position: relative;
    width: 100px;
    margin-right: 0;
}

.tab-tilte .item-1::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: skewX(-30deg);
    background-color: #F9EBFE;
    position: absolute;
    left: -30px;
    top: 0
}

.tab-tilte .item-1::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px 0 0 50px;
    background-color: #F9EBFE;
    position: absolute;
    top: 0;
    left: -100px;
}

.tab-tilte .item-1 span {
    margin-left: -100px;
}

.tab-tilte .item-last {
    position: relative;
}

.tab-tilte .item-last::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: skewX(-30deg);
    background-color: #F9EBFE;
    position: absolute;
    left: 0;
    top: 0
}

.tab-tilte .item-last::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 0 50px 50px 0;
    background-color: #F9EBFE;
    position: absolute;
    top: 0;
    left: 70px;
}

.tab-tilte .item-last {
    margin-right: 0;
}

/* 点击对应的标题添加对应的背景颜色 */
.tab-tilte .active::before,
.tab-tilte .active::after,
.tab-tilte .active span {
    background-color: #753DE8;
    color: #fff;
}

.tab-content>div {
    padding-top: 80px;
    display: none;
}

.tab-content>div.cur {
    display: block;
}
.pane {
    padding: 0 10px;
}
.pane h3{
    font-size:30px;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.pane .l {
    margin: 40px 0 20px 0;
    color: #999999;
    font-size: 20px;
}
.pane .l span{
    font-size: 16px;
}
.pane .l img {
    margin-left: 14px;
    margin-right: 4px;
    vertical-align: middle;
}
.pane p {
    font-size:24px;
    line-height: 2;
    color:rgba(51,51,51,1);
    margin-bottom: 20px;
}
.pane >img {
    width: 340px;
    margin-right: 36px;
}