

body {
    font-family: Microsoft YaHei;
    background: url('../image/home/bg-left.png') 0 2100px no-repeat;
}

.video-bg {
    position: relative;
    /* width: 100%; */
}

.video-bg .img-wrap {
    position: absolute;
    /* bottom: 444px; */
    top: 28%;
    width: 100%;
    text-align: center;
}

.video-bg .btns {
    position: absolute;
    /* bottom: 240px; */
    top: 72%;
    width: 100%;
    text-align: center;
}

.video-bg .btns a {
    display: inline-block;
    width: 220px;
    height: 66px;
    margin-right: 72px;
    background: #a4a4a4;
    border:1px solid rgba(255,255,255,1);
    border-radius: 33px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 62px;
}
.video-bg .btns a:hover,.video-bg .btns .selected {
    background: linear-gradient(90deg, rgba(102, 74, 244, 1), rgba(186, 90, 250, 1));
    border: none;
}

.video-bg .btns a:last-child {
    margin-right: 0;
}

.video-bg .btns a img {
    margin-right: 8px;
    vertical-align: middle;
}

.headline {
    padding: 80px 0 30px 0;
    text-align: center;
}

.headline h2 {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.headline span {
    font-size: 16px;
    font-weight: 300;
    color: rgba(51, 51, 51, 1);
}

.brodcast {
    position: relative;
}

.brodcast .main ul {
    text-align: center;
}

.brodcast .main ul li {
    display: inline-block;
    margin-right: 16px;
    width: 280px;
    height: 426px;
    background: rgba(80, 255, 241, 1);
    border-radius: 20px;
}

.brodcast .main ul li:last-child {
    margin-right: 0;
}

.brodcast .main ul li:hover {
    box-shadow: 0px 10px 20px 0px rgba(118, 1, 185, 0.4);
}

.application {
    text-align: center;
}

.qualification .main {
    height: 940px;
    background: url('../image/home/qualification-bg.png') top center no-repeat;
}

.qualification .main ul {
    padding-top: 170px;
    text-align: center;
}

.qualification .main ul li {
    display: inline-block;
    margin-right: 30px;
    width: 268px;
    height: 368px;
    background: rgba(80, 255, 241, 1);
    border-radius: 20px;
}

.qualification .main ul li:last-child {
    margin-right: 0;
}

