.natrue {
    max-width: 1920px;
    margin: 0 auto;
}

.natrue h3 {
    color: #333333;
    font-family: 'PingFang-SC-Heavy', 'Microsoft YaHei';
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.na-back {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.na-back img {
    width: inherit;
    height: 800px;
}

.na-back .na-bright {
    position: absolute;
    right: 34px;
    width: 589px;
    height: 648px;
    border-radius: 26px;
    border: 1px solid #333333;
    top: 320px;
}

.natrue .na-carousel {
    margin-top: 200px;
}

/* .tab-tilte {
    width: 90%;
} */
.news h3 {
    margin-bottom: 60px;
}

.tab-tilte li {
    display: inline-block;
    height: 100px;
    width: 200px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}

.tab-tilte .item::before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 100px;
    transform: skewX(-30deg);
    background-color: #F9EBFE
}

.tab-tilte li span {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 50px;
    font-size: 48px;
    color: #666666;
    line-height: 1
}

.tab-tilte .item-1 {
    position: relative;
    width: 100px;
}

.tab-tilte .item-1::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: skewX(-30deg);
    background-color: #F9EBFE;
    position: absolute;
    left: 0;
    top: 0
}

.tab-tilte .item-1::after {
    content: '';
    display: inline-block;
    width: 150px;
    height: 100px;
    border-radius: 50px 0 0 50px;
    background-color: #F9EBFE;
    position: absolute;
    top: 0;
    left: -100px;
}

.tab-tilte .item-1 span {
    margin-left: -100px;
}

.tab-tilte .item-last {
    position: relative;
}

.tab-tilte .item-last::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: skewX(-30deg);
    background-color: #F9EBFE;
    position: absolute;
    left: 0;
    top: 0
}

.tab-tilte .item-last::after {
    content: '';
    display: inline-block;
    width: 150px;
    height: 100px;
    border-radius: 0 50px 50px 0;
    background-color: #F9EBFE;
    position: absolute;
    top: 0;
    left: 50px;
}

.tab-tilte .item-last {
    margin-right: 0;
}

/* 点击对应的标题添加对应的背景颜色 */
.tab-tilte .active::before,
.tab-tilte .active::after,
.tab-tilte .active span {
    background-color: #753DE8;
    color: #fff;
}

.tab-content>div {
    padding-top: 30px;
    /* float: left;
    width: 25%; */
    /* line-height: 100px;
    text-align: center; */
    display: none;
}

.tab-content>div.cur {
    display: block;
}

.tab-content .display {
    height: 330px;
    background: url('../image/nature/date-bg.png') no-repeat center;
    padding: 30px;
}

.tab-content .display .left {
    float: left;
    position: relative;
    height: 250px;
    width: 190px;
}

.tab-content .display .left::after {
    content: '';
    position: absolute;
    top: 0;
    height: 250px;
    width: 190px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.53;
}

.tab-content .display .left div {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #fff;
}

.tab-content .display .left div p:nth-of-type(1) {
    font-size: 67px;
    font-weight: bold;
}

.tab-content .display .left div p:nth-of-type(2) {
    margin: 10px 0;
    font-size: 35px;
}

.tab-content .display .left div p:nth-of-type(3) {
    font-size: 18px;
}

.tab-content .display .right {
    margin-left: 60px;
    width: 600px;
    float: left;
    color: #fff;
    font-size: 24px;
    font-family: PingFang SC;
}

.tab-content .display .right p {
    margin-bottom: 20px;
}

.tab-content ul li {
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 16px 0px rgba(159, 116, 248, 0.2);
    border-radius: 10px;
}

.tab-content ul li .left {
    width: 270px;
    height: 300px;
    background: rgba(117, 61, 232, 1);
    border-radius: 10px;
    float: left;
}

.tab-content ul li .right {
    font-size: 24px;
    color: #333;
    float: left;
    width: 900px;
    margin-left: 20px;
    line-height: 2
}

.tab-content ul li .right .l {
    font-size: 18px;
    color: #999999;
}

.tab-content .more {
    margin-top: 60px;
    text-align: center;
}

.tab-content .more button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 220px;
    height: 50px;
    border: 2px solid rgba(117, 61, 232, 1);
    border-radius: 25px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 500;
    color: rgba(117, 61, 232, 1);
    background: none;
}
.comments {
    padding: 100px 0;
}
.comments h3{
   margin-bottom: 120px;
}
.comments .main {
    height: 700px;
    background: url('../image/nature/message-bg.png') center no-repeat;
}
.comments .message {
    margin-bottom: 110px;
}
.comments .wrap >div:nth-of-type(2) {
    margin-left: 800px;
}
.comments .wrap >div:nth-of-type(3) {
    margin-left: 500px;
}
.comments .wrap >div:nth-of-type(4) {
    margin-left: 600px;
}
.comments .wrap >div:nth-of-type(5) {
    margin-left: 200px;
}
.comments .message span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: rgba(101, 223, 213, 1);
    border-radius: 50%;
    vertical-align: bottom;
}

.comments .message div {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: rgba(131, 126, 255, 1);
    border-radius: 4px;
    font-size: 22px;
    color: #fff;
}
.comments .message div::before {
    content: url('../image/nature/triangle.png');
    position: absolute;
    top: 10px;
    left: -10px;
}