/* 公共样式库 */

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
    /* IE 兼容 */
}

.lh1 {
    line-height: 1;
}

/* 公共样式库结束 */

/* 头部底部浮层样式 */

.float-side {
    position: fixed;
    top: 300px;
    right: 0;
    z-index: 20;
    width: 132px;
    height: 248px;
    padding: 48px 0 0 30px;
    background: url('../image/home/float-side.png') no-repeat;
    color: #fff;
    text-align: center;
}

.float-side .main {
    width: 80px;
    font-size: 0
}
.float-side .code {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    border: 3px solid rgba(255, 255, 135, 1);
    box-shadow: 10px 13px 16px 0px rgba(149, 98, 255, 0.43);
    border-radius: 10px;
}

.float-side p {
    margin: 5px 0;
    margin-top: 5px;
    font-size: 12px;
    font-family: PingFang SC;
    font-weight: 500;
}

.float-side img {
    margin-top: 8px;
}

header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    padding-top: 44px;
}

header nav a {
    margin-right: 120px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
    text-decoration: none;
    position: relative;
}
header nav .selected {
    font-size: 20px;
    font-weight: bold;
}
header nav .selected::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    border-top: solid 1px #fff;
}

header nav a:last-child {
    margin-right: 0;
}

footer {
    height: 686px;
    padding-top: 325px;
    background: url('../image/home/footer-bg.png') center no-repeat;
    color: #fff;
}

footer .row-1 img {
    vertical-align: middle;
}

footer .row-1 span {
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
}

footer .row-1 .code {
    float: right;
    position: relative;
}

footer .row-1 .wechat {
    margin-left: 150px;
}

footer .row-1 .code .show-box {
    display: none;
    position: absolute;
    top: -174px;
    left: -50px;
    border-radius: 6px;
}

/* footer .row-1 .code .show-box img {
    width: 100%;
} */

footer .row-1 .code>img:hover+.show-box {
    display: block;
}

footer .row-2 {
    margin-top: 88px;
}

footer .row-2 a {
    margin-right: 170px;
    font-size: 18px;
    color: #fff;
}

footer .row-2 a:last-child {
    margin-right: 0;
}

footer .row-3 {
    margin-top: 86px;
    font-size: 18px;
    text-align: center;
}

/* 头部底部浮层样式结束 */