/* 公共样式库 */

.wrap {
    width: 1400px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
    /* IE 兼容 */
}
.lh1 {
    line-height: 1;
}

/* 公共样式库结束 */

/* 头部底部浮层样式 */

.float-side {
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 20;
    width: 183px;
    height: 369px;
    padding: 66px 30px 0 38px;
    background: url('../image/home/float-side.png') no-repeat;
    color: #fff;
    text-align: center;
}

.float-side .code {
    width: 115px;
    height: 115px;
    background: rgba(255, 255, 255, 1);
    border: 3px solid rgba(255, 255, 135, 1);
    box-shadow: 10px 13px 16px 0px rgba(149, 98, 255, 0.43);
    border-radius: 10px;
}

.float-side p {
    margin: 12px 0 6px 0;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
}

.float-side img {
    margin-top: 12px;
}

header {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    padding-top: 44px;
}

header nav a {
    margin-right: 150px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    vertical-align: middle;
    text-decoration: none
}

header nav a:last-child {
    margin-right: 0;
}

footer {
    height: 686px;
    padding-top: 325px;
    background: url('../image/home/footer-bg.png') center no-repeat;
    color: #fff;
}

footer .row-1 img {
    vertical-align: middle;
}

footer .row-1 span {
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
}

footer .row-1 .code {
    float: right;
}

footer .row-1 .wechat {
    margin-left: 150px;
}

footer .row-2 {
    margin-top: 88px;
}

footer .row-2 a {
    margin-right: 181px;
    font-size: 24px;
    color: #fff;
}

footer .row-2 a:last-child {
    margin-right: 0;
}

footer .row-3 {
    margin-top: 86px;
    font-size: 18px;
    text-align: center;
}

/* 头部底部浮层样式结束 */